# Ignore site
drupal/sites/default
drupal/sites/mediacommons.futureofthebook.org.mediacommons

# Ignore modules/themes/profiles related to MediaCommons project
drupal/sites/all/themes/mediacommons
drupal/sites/all/modules/mediacommons_modules
drupal/sites/all/themes/mediacommons_admin

# Ignore configuration files that may contain sensitive information.
drupal/sites/*/*settings*.php
drupal/sites/example.sites.php

# Ignore paths that contain generated content.
drupal/files/
drupal/sites/*/files
drupal/sites/*/private
drupal/sites/*/translations
drupal/sites/sites.php

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

adminer.php

.DS_Store

tmp/
.env
drupal-*

databases
backups/*.tar.gz
drupal/.htaccess
